In [ ]:
print("2"+"2")
print(2+2)
print("2"+2)

In [13]:
a = "'aayush'"
print(a)
type(a)

'aayush'

str

In [27]:

name="ayush"
age=20
rollno =230108
print(name,"\n",20,"\n",rollno)

ayush
 20
 230108

In [28]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [34]:
x=2+3j
y=2+2j
print(x.real+y.real)
print(x.conjugate)

4.0
<built-in method conjugate of complex object at 0x0000017C39449F30>

In [ ]:
a=input("please input your name ")
type(a)
b= int(a)
if b > 18:
    print("eligible")

16

In [ ]:
a="ayush"
print(a)

ayush

In [ ]:


print("hello world\n"*100)